html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}

.pink {
    color: #ffb6b6;
}

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 2vh;
    line-height: 0.7em;
}
.flex-item {
    /* background-color: tomato; */
    padding: 0.1em;
    width: 10em;
    margin: 0.2em;
    line-height: 1em;
    color: black;
    font-weight: bold;
    font-size: 5vh;
    text-align: center;
}


a {
    color: grey;
    text-decoration: none; /* no underline */
}

a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}
  
/* mouse over link */
a:hover {
    color: #ffb6b6;
}
  
/* selected link */
a:active {
    color: #ffb6b6;
}